<div class="container" style="margin: 5rem">
    <div class="row">
        <div class="card z-depth-0 red darken-2">
            <div class="card-content white-text">
                <p class="center-align">Thanks for contacting Me, i'll reply you shortly
                    <button style="margin-left: 5rem" class="btn white red-text text-darken-2 center" ng-click="goHome()">
                        Ok!
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>