
    <nav ng-include="'directives/navbar.html'" class="nav-wrapper white" style="position: fixed; width: 100%; z-index: 100;">
    </nav>

<section>
    <div class="row" style="padding-top: 5rem">
        <div class="col s12 l6 m6">
            <h4 class="left-align red-text text-darken-2">You have reached Kinanee's Website feel free to look around</h4>
            <p class="red-text text-darken-2">I am a website designer/developer situated in Nigeria. Because i understand the importance of having an online presence my skills are available for your service to help you reach out to more potential customers with seamless web apps.</p>
            <div class="center" style="margin: 1.5rem">
                <a href="portfolio" class="btn red white-text bold">Check My Portfolio</a>
            </div>
        </div>
        <div class="col s12 l6 m6">
            <img src="assets/illustration/undraw_designer_life_w96d.svg" class="responsive-img">
        </div>
    </div>
</section>

<!-- =====SERVIES I OFFERR===== -->
<section>
    <div class="row">
        <h4 class="red-text center-align bold">Services I Offer</h4>
        <div class="col s12 l4">
            <img src="assets/illustration/undraw_responsive_6c8s (1).png" id="web-design" class="responsive-img" />
            <h4 class="red-text center-align">Web Design</h4>
            <p class="red-text center-align">I am a skilled and experienced web designer</p>
        </div>
        <div class="col s12 l4">
            <img src="assets/illustration/undraw_web_devices_ad58 (1).png" id="web-maintainance" class="responsive-img" />
            <h4 class="red-text center-align">Web Maintain</h4>
            <p class="red-text center-align">I can also help you manage and maintain your website</p>
        </div>
        <div class="col s12 l4">
            <img src="assets/illustration/undraw_web_search_eetr.png" id="seo" class="responsive-img" class="responsive-img" />
            <h4 class="red-text center-align">S.E.O</h4>
            <p class="red-text center-align">I can make finding you on the web easier</p>
        </div>
    </div>
</section>
<!-- =====END OF SERVICES I OFFER===== -->

<!-- ======WHY HIRE ME===== -->
<section class="section" id="about">
    <h3 class="red-text center-align bold" style="padding: 0 .3rem;">Why Should you hire me</h3>
    <div class="container">
        <div class="row">
            <div class="col s12 l4">
                <img src="assets/illustration/undraw_time_management_30iu.svg" class="responsive-img">
            </div>
            <div class="col s12 l8">
                <p class="red-text">
                    The importance of developing and deploying content fast cannot be understated and thus i am committed to helping you develop and deploy your project as fast as possible.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4 push-l8">
                <img src="assets/illustration/undraw_modern_design_v3wv.svg" class="responsive-img">
            </div>
            <div class="col s12 l8 pull-l4">
                <p class="red-text">
                    I utilize the most scalable approach, coupled with mordern design patterns to ensure that your project meets the latest specifications.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4">
                <img src="assets/illustration/undraw_design_team_af2y.svg" class="responsive-img">
            </div>
            <div class="col s12 l8">
                <p class="red-text">
                    I am capable of working as part of a team when you need more developers on your project. I am also capable of working alone too whether it is remotely or not, 24/7/365.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- =====FOOTER===== -->
<div id="footer" class="row">
    <div class="col s12 l12">
        <p class="center-align flow-text red-text text-darken-2">Copyright, &copy 2020 Kalashin</p>
    </div>
</div>