<!-- footer -->
<footer class="page-footer red white-text">
    <div class="row">
    <!-- =====ABOUT ME===== -->
        <div class="col l5 hide-on-small-only m6 s6">
            <div class="card transparent z-depth-0">
                <div class="card-contents">
                    <h4>About Me</h4>
                    <p>
                        I am a Web developer and Teacher based in Nigeria, i am self taught and have experience coding in 6 different languages, C/C++ included, i have a one year experience working as a web developer, especially in freelancing and open sourcing. I can function as a backend and front-end web developer although currently I major in front-end web design, as a front-end developer I am comfortable using front-end frameworks especially Google's <a href="">Angular</a> framework. I graduated from Kenule Beeson Saro Wiwa Polythecnic with my honours in Chemistry/Biochemistry. 
                    </p>
                </div>
            </div>
        </div>
        {{name}}
        <!-- =====QUICK LINKS===== -->
        <div class="col l5 m6 s12">
           <h4 class="bold white-text">Quick Links</h4>
           <ul>
               <li><a href="services">Services<a href=#></li>
               <li><a href="about">About</a></li>
               <li><a href="portfolio">Potforlio</a></li>
               <li><a href="contact">Contact</a></li>
           </ul>
        </div>
        <div class="col l2 m6 s6 social-widget">
            <div class="single-footer-widget card transparent z-depth-0">
                <h4>Follow Me</h4>
                <p>Let us be social</p>
                <div class="footer-social align-items-center">
                    <!-- =====FACEBOOK LINK==== -->
                    <a href="#" ng-click="visitSocialPage('https://www.facebook.com/samson.john.7564')" class="white-text"><i class="fab fa-facebook-f"></i></a>
                    <!-- =====LINKEDIN LINK===== -->
                    <a href="#" ng-click="visitSocialPage('https://www.linkedin.com/in/kinanee-samson-9b70561b2')" class="white-text"><i class="fab fa-linkedin-in"></i></a>
                    <!-- =====DRIBBBLE LINK===== -->
                    <a href="#" ng-click="visitSocialPage('https://wwww.dribbble.com/kalashin')" class="white-text"><i class="fab fa-dribbble"></i></a>
                    <!-- ======CODEPEN LINK===== -->
                    <a href="#" ng-click="visitSocialPage('https://www.codepen.io/Iamkalashin')" class="white-text"><i class="fab fa-codepen"></i></a>
                    <!-- ====GITHUB LINK===== -->
                    <a href="#" ng-click="visitSocialPage('https://github.com/kalashin1')" class="white-text"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>Kinanee Samson
        </div>
    </div>
</footer>